*{
    margin: 0;
    padding: 0;
    
}

html{
    font-size: 62.5%;
}

h1{
    display: flex;
}
a{
    text-decoration: none;
    color: burlywood;
}
header{
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}

h2{
    font-family: 'PT Sans', sans-serif;
    margin: 10px;
    font-size: 30px;
    color: coral;
    text-wrap: initial;
}

.main1{
    display: inline-block;
    text-align: center;
    background-image: url(../assets/img/840e3adc01f5b86e9adbbe4c4cdd4146.jpg) ;
    padding: 20%;
    width: 100%;
    margin: 0%;
}

.titlegaleria{
    margin: 20px;
}

.sec1{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
}

.textosec1{
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
}

.fotosec1{
    font-size: 5px;
    margin-inline: 15px;
    
}

.galeriamain{
    display: flex;
    background-color: bisque;
    flex-direction: column;
    text-align: center;
}

.galeriaimg{
    margin: 20px;
}

footer{
    background-color: antiquewhite;
}

.foot1{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-family: roboto, sans-serif;
    text-align: center;
    background-color: #5E9FF2;
    
}

.ajn{
    display: flex;
    margin: 20px;
    
}

h3{
    display: inline-block;
    margin: 20px;
}

.divpadrenum{
    display: flex;
    text-align: center;
    color: black;
    margin: 20px;
}






